@import "colors.css";

* {
  all: unset;
  font-family:
    "Rubik", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP",
    "Noto Sans CJK KR";
}

tooltip {
  background-color: @bg1;
  color: @fg;
  padding: 10px;
  border-radius: 12px;
}

.modules-center {
  background-color: @bg1;
  color: @fg;
  padding: 4px 18px;
  border-radius: 99px;
}

#clock {
  color: @purple;
  font-weight: 500;
}

#idle_inhibitor.activated {
  color: @yellow;
}

#custom-cava {
  color: @blue;
}

#workspaces {
  min-width: 100px;
  background-color: @bg2;
  padding: 2px 4px;
  margin: 3px 0;
  border-radius: 99px;
}

#workspaces button {
  background-color: @bg3;
  padding: 2px 4px;
  min-width: 1.5rem;
  border-radius: 99px;
  margin: 0 2px;
  transition: all 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

#workspaces button.empty {
  color: @grey0;
}

#workspaces button.urgent {
  color: @purple;
}

#workspaces button.active {
  background-color: @green;
  color: @bg1;
  min-width: 1.5rem;
  transition: none;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#custom-language {
  color: @aqua;
  font-weight: 500;
}

#custom-notification.notification,
#custom-notification.inhibited-notification {
  color: @orange;
}

#custom-notification.dnd-notification,
#custom-notification.dnd-none,
#custom-notification.dnd-inhibited-notification,
#custom-notification.dnd-inhibited-none {
  color: @red;
}
